body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    max-width: 1210px;
    display: block;
    margin: auto;
    border-radius: 30px;
    background-color: white;
}

.logo {
    position: absolute;
    top: 20px;
    left: 80px;
    margin-top: 10px;
    width: 166px;
    height: 51px;
}

.regi {
    background-color: black;
}

.logo img {
    max-width: 150px;
}

.cover-photo {
    width: 610px;
    height: 620px;
    padding-left: 1px;
}

.sign-up,
.create {
    text-align: center;
}

.sign-up {
    padding-top: 55px;
    font-size: 40px;
    font-weight: 600;
    font-family: arial;
}

.create {
    font-size: 15px;
    font-weight: 500;
}

.continue {
    border: white;
    background-color: white;
    margin-bottom: 5px;
}

.continue img {
    width: 400px;
}


.inputForm {
    width: 450px;
    margin-bottom: 5px;
}

.registerBtn {
    color: white;
    border-radius: 50px;
    display: block;
    margin: auto;
    width: 450px;
    padding: 7px;
    background-color: black;
    border: 1px solid black;
}

.account {
    text-align: center;
}

span .login {
    color: #FEC00F;
    text-decoration: none;
}

.landing {
    background-color: black;
    padding: 100px 200px 400px 200px;
}

.landing .page {
    max-width: 600px;
    display: block;
    margin: auto;
    align-items: center;
}

.page h1 {
    color: #FEC00F;
    font-size: 50px;
}

.page p {
    color: white;
    font-size: 30px;
}

.page button {
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(255, 254, 254);
    background-color: rgb(250, 248, 248);
    color: rgb(15, 15, 15);
    border-radius: 10px;
}